<form>
    <input type="text" placeholder="ID" name="std_id"/>
    <input type="text" placeholder="NAME" name="std_name"/>
    <input type="text" placeholder="SNAME" name="std_sname"/>
</form>

<script>
    $("#fm_std_add").submit(function (e){
        e.preventDefault();
        let fm_data = $(this).serialize();

        $.ajax({
            url:"/model/std_add.php",
            method:"GET",
            data: fm_data,
            susccws: function (res){
                $("#div_res").html(res);
                $("#div_action").load("/model/std_tb.php");
            },
        });
    });
</script>